<style>
    #desc{
        padding: 0px;
        border-radius:0px;
        border-width:0px;
    }
    #desc_eng{
        padding: 0px;
        border-radius:0px;
        border-width:0px;
    }
</style>
<form class="layui-form seller-alone-form" action="" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i>专辑名称：</label>
        <div class="layui-input-block">
            <input type="text" name="type_name" required  lay-verify="required" placeholder="请输入专辑名称" autocomplete="off" class="layui-input" value="{$info.type_name}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i>专辑英文名称：</label>
        <div class="layui-input-block">
            <input type="text" name="type_name_eng" required  lay-verify="required" placeholder="请输入专辑英文名称" autocomplete="off" class="layui-input" value="{$info.type_name_eng}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">专辑类型：</label>
        <div class="layui-input-inline seller-inline-3">
            <select name="type" lay-verify="">
                <option value="1" {if $info.type == 1}selected{/if}>文章专辑</option>
                <option value="2" {if $info.type == 2}selected{/if}>音频专辑</option>
                <option value="3" {if $info.type == 3}selected{/if}>游戏专辑</option>
                <option value="4" {if $info.type == 4}selected{/if}>插画专辑</option>
                <option value="5" {if $info.type == 5}selected{/if}>角色专辑</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">封面图：</label>
        <div class="layui-input-inline seller-inline-5">
            {Jshop:image id='img' name='cover' value="$info.cover" /}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">专辑背景：</label>
        <div class="layui-input-inline seller-inline-5">
            {Jshop:image id='back_url' name='back_url' value="$info.back_url" /}
        </div>
    </div>
    
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">专辑介绍：</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入专辑介绍" name="desc" class="layui-textarea">{$info.desc}</textarea>
        </div>
    </div>
    <br>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">专辑英文介绍：</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入专辑英文介绍" name="desc_eng" class="layui-textarea">{$info.desc_eng}</textarea>
        </div>
    </div>

    <div class="layui-form-item" style="margin: 20px 0 20px 0;">
        <label class="layui-form-label">是否投放市场：</label>
        <div class="layui-input-block">
            <input type="radio" name="is_market" value="0" title="否" {if $info.is_market == 0}checked{/if}>
            <input type="radio" name="is_market" value="1" title="是" {if $info.is_market == 1}checked{/if}>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序：</label>
        <div class="layui-input-block seller-inline-2">
            <input type="text" name="sort" required  lay-verify="required" value="{$info.sort}" placeholder="从小到大排列" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            {:jshopToken('article_type_edit')}
            <button type="button" class="layui-btn" lay-submit lay-filter="add_article_cate">保存</button>
            <button onclick="javascript:history.back(-1);" type="reset" class="layui-btn layui-btn-primary">返回</button>
        </div>
    </div>

    <input type="hidden" name="id" value="{$info.id}">
</form>

<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        form.on('submit(add_article_cate)', function(data){
            JsPost("{:url('ArticleType/edit')}", data.field, function(res){
                if(res.status){
                    layer.msg(res.msg, {time: 1300},function(){
                        window.location.href = "{:url('ArticleType/index')}";
                    });
                }else{
                    layer.msg(res.msg);
                }
            })
        });
    });
</script>

<script type="text/javascript">
    // var ue = UE.getEditor('desc');
    // var ue = UE.getEditor('desc_eng');
</script>